{% extends 'catalog/pattern.html' %}

{% block title %}
Таблична функція
{% endblock %}

{% block extra_css %}

{% endblock %}
{% block body %}
<div class="cont">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Постачальник</th>
                    <th>Середня сума товарів</th>
                    <th>Загальна сума товарів</th>
                </tr>
            </thead>
            <tbody>
                {% if results %}
                    {% for result in results %}
                        <tr>
                            <td>{{ result.company_name }}</td>
                            <td>{{ result.average_price|floatformat:2 }}</td>
                            <td>{{ result.total_price }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
